ion-button{
    --background: #6bc5e9;
    --background-hover: #6bc5e9;
    --background-focused: #6bc5e9;
}
ion-toolbar{
    --background: #6bc5e9;
    border: none;
    border-color: #669a2f;
}
ion-footer{
    --background: transparent;
}
.divpesquisa{
    padding-top: 30px;
    padding-bottom: 10px;
}
.footerNav{
    border-radius: 20px;
}
.divPesquisa{
    padding-top: 14px;
}
ion-menu-button{
    margin-bottom: 3px;
}
.btnMenu{
    margin-bottom: 10px;
}