<ion-header no-shadow no-border>

</ion-header>

<ion-content fullscreen>

  <ion-list class="conteudo">
    <ion-item *ngFor="let Evento of Eventos" lines="none">
      <ion-card>
        <img src="{{Evento.src}}" />
        <ion-card-subtitle>

        </ion-card-subtitle>
        <ion-card-title>
          {{Evento.nome}}
        </ion-card-title>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- Infinite scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" >
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer translucent no-shadow no-border>
  <ion-card class="footerNav">
    <ion-toolbar class="divPesquisa">
      <ion-buttons slot="end" class="btnMenu">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-searchbar showCancelButton="never" animated debounce="500" color="light" mode="ios" [(ngModel)]="pesquisaEvento" (ionChange)="pesquisaEventos()"></ion-searchbar>
    </ion-toolbar>
  </ion-card>
</ion-footer>