
.placeholder-text{
    font-size: 1.2em;
    //font-size: 14.5px;
}
.bnt{
    margin-top: 100px;
    margin-right: 6px;
    z-index: 3;
}
ion-card{
    z-index: 2;
    background: white;
}
ion-content{
    --background: #6bc5e9;
}
.logo{
    margin-top: 15px !important;
}