<ion-app>
    <ion-menu side="end" type="push" menuId="menuIdoso">
        <ion-header no-shadow no-border>
          <ion-toolbar line="none" class="divpesquisa">
            <ion-title>End Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      
      <ion-router-outlet main></ion-router-outlet>
</ion-app>
